<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace=base::layout(~{::section})>
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold text-uppercase">Smart Contact Manager</h1>
			<p>Start Collecting your contacts in a very smart way. We provide a very efficient and smarter way of handling
				your contacts</p>
				
				<button type="button" class="btn bg-primary text-white">Get Started</button>
		</div>
		
	</section>
</body>
</html>